

@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');


*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}


body {
    background-color: brown;
}

header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

nav {
    width: 60%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li {
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
    font-family: 'kdam Thmor Pro';

}

li:hover {
    color: rgb(248, 203, 58);
}

#logo {
    width: 150px;
    height: auto;
}

#texto {
    width: 100%;
    max-width: 800px;
    color: rgb(246, 244, 180);
    font-size: 19px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'kdam Thmor Pro', sans-serif;
}

h1 {
    color: rgb(255, 253, 107);
    margin-bottom: 30px;
    margin-top: 10px;
}

strong {
    color: rgb(255, 255, 255);
    font-size: 23px;

}

@media screen and (max-width: 768px) {

    .footer-navigation {
        display: block;
    }

    nav {
        display: none;
    }   

    #texto {
        width: 90%;
    }
}